.Row {
  position: relative;
  overflow: visible;
}

.Row :global(.swiper) {
  height: 265px;
  padding: 0 50px;
  overflow: visible !important;
}

.Row :global(.swiper-wrapper) {
  overflow: visible !important;
}

.Row :global(.swiper-slide) {
  display: flex;
  align-items: center;
  height: 100%;
  overflow: visible !important;
}